// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$maxWidth: 1170px;

body{
	color: #333;
}

.app-content{
	max-width: $maxWidth;
	display: block;
	margin: 0 auto;
	text-align: center;
}

.app-content > * > *{
	text-align: left;
}

.elementCards{
	position: relative;
	border-radius: 2px;
	font-size: 16px;
	background: #fff;
	width: 100%;
	text-align: left;
    display: inline-block;
	padding: 15px;
	box-shadow: 0 1px 3px rgba(0,0,0,.06), 0 2px 6px rgba(0,0,0,.12);

	&.maxPadding{
		padding: 15px 30px;
	}

	&.noPadding{
		padding: 0;
	}

	&.padOnlyT{
		padding-top: 15px;
	}
	&.padOnlyB{
		padding-bottom: 15px;
	}

	&.tCenter{
		text-align: center;
	}
}

.clips_content{
	display: block;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	max-width: 600px;

	> li{
		display: block;
		padding-bottom: 15px;

		&:first-child{
			padding-top: 15px;
		}

		&:last-child{
			padding-bottom: 0px;
		}
	}

	.caret{
		color: #333;
	}

	.dropdown-menu{
		left: auto;
		right: 0;
	}

	button{
		display: block;
		width: 100%;
		text-align: left;
	}
}


button{

	&:hover{
		box-shadow: 0 1px 3px rgba(0,0,0,.06), 0 2px 6px rgba(0,0,0,.12);
	}

	&.link-style{
		border: 0;
		padding: 5px 10px;
		background: transparent;
		outline: none;

		&:hover{
			box-shadow: none;
		}
	}	
}

.options-clip{
	position: absolute;
	right: 10px;
	top: 0px;
	display: block;
}

.dropdown{
	display: block;
}

.spectre{
	position: relative;
	width: 300px;
	height: 50px;
	background: url(/img/flat.svg) 0 -1px no-repeat;
	background-size: 300px 100px;
	margin-bottom: 15px;

	> div{
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 0%;
		background: #fff url(/img/sound.svg) 0 -2px no-repeat;
		background-size: 300px 100px;
	}
}

.col-2{
	width: calc(25% - 3px);
	display: inline-block;
	vertical-align: top;
	> div{
		padding: 15px;
		padding-bottom: 0;
	}
}
.col-4{
	width: calc(50% - 3px);
	display: inline-block;
	vertical-align: top;
	> div{
		padding: 15px;
		padding-bottom: 0;
	}
}
.card-header{
	height: 150px;
	background-size: cover;
	margin-bottom: 65px;

	.photo-profile{
		height: 100px;
		vertical-align: bottom;
		width: 100px;
		position: relative;
		top: 100px;
		margin: 0 auto;
		border-radius: 50%;
		border: 5px solid #fff;
		box-shadow: 0 1px 3px rgba(0,0,0,.06), 0 2px 6px rgba(0,0,0,.12);
		overflow: hidden;

		img{
			width: 100%;
			border-radius: 50%;
		}
	}
}
.clips-wave{
	position: relative;
}
.wave{
	display: inline-block;
	position: relative;
	width: calc(100% - 55px);
    vertical-align: top;
}
.wave-controller{
	position: relative;
	height: 50px;
	width: 50px;
	margin: 15px 0;
	display: inline-block;
    vertical-align: top;
}
.player-morf{
	height: 30px;
	width: 30px;
	display: block;
	margin: 10px auto 10px 0;
	cursor: pointer;
	overflow: hidden;
	position: relative;

	.left{
		height: 100%;
		float: left;
		background-color: #333;
		width: 50%;
		transition: all 0.25s ease;
		overflow: hidden;
	}
	.triangle-1{
		transform: translate(0, -50%);
	}

	.triangle-2{
		transform: translate(0, 50%);
	}
	.triangle-1, .triangle-2{
		position: absolute;
		top: 0;
		right: 0;
		background-color: transparent;
		width: 0;
		height: 0;
		border-right: 30px solid #fff;
		border-top: 15px solid transparent;
		border-bottom: 15px solid transparent;
		transition: transform 0.25s ease;
	}

	.right{
		height: 100%;
		float: right;
		width: 50%;
		background-color: #333;
		transition: all 0.25s ease;
	}

	&.paused{
		.left{
			width: 36%;
		}
		.right{
			width: 36% ;
		}
		.triangle-1{
			transform: translate(0, -100%);
		}
		.triangle-2{
			transform: translate(0, 100%);
		}
	}
}

.record-button{
 	margin: 0 25px;
	border-radius: 5px;
	overflow: hidden;

	> span{
		text-align: center;
		background: #d44769;
		color: #fff;
		display: block;
		padding: 10px 25px;
		text-transform: uppercase;
		cursor: pointer;

		&:hover{
			opacity: .9;
		}
	}

	.record-option,.message-option{
		display: none;
		border-top: 1px solid #d0d0d0;
		padding: 25px 0;
		background: #f0f0f0;
	}

	.message-option{
		text-align: center;

		input{
			width: 60%;
			margin: 0 auto;
			margin-bottom: 15px;
		}
	}

	.rcircle{
		height: 100px;
		width: 100px;
		margin: 0 auto;
		position: relative;
		overflow: hidden;

		.button-circle{
			position: absolute;
			top: 4px;
			left: 4px;
			height: calc(100% - 8px);
			width: calc(100% - 8px);
			cursor: pointer;
			background: #fff;
			outline: none;
			border-radius: 50%;
			border: 0;
			opacity: 0;
			z-index: 1;
			text-transform: uppercase;

			&:hover{
				opacity: 1;
			}
		}

		.re-record{
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translate(-50%,101%);
			transition: all .4s;
		}

		svg,.progressbar-text,.button-circle{
			transform: scale(1);
			transition: all .4s;
		}

		&.anim-stop{
			svg,.progressbar-text,.button-circle{
				transform: scale(0) !important;
			}
			.re-record{
				bottom: 50%;
				transform: translate(-50%,50%);
			}
		}
	}
}

